@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.nav {
  background-color: #1f2937;
  color: #f9faf8;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  gap: 32px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.header-left {
  flex-direction: column;
}

.header-right {
  min-width: 400px;
  height: 200px;
  justify-content: center;
  background-color: #e5e7eb;
}

.nav,
.nav ul,
.header,
.header-left,
.header-right {
  display: flex;
}

.header-right,
.nav {
  align-items: center;
}
